<div class="jumbotron">
   <h1>Blocipedia</h1>
   <p>A resource for sharing knowledge.</p>

 </div>

 <div class="row">
   <div class="col-md-4">
     <h2>Research</h2>
     <p>Blocipedia delivers the information you are looking for.</p>
   </div>
   <div class="col-md-4">
     <h2>Collaborate</h2>
     <p>Blocipedia allows you to collaborate on projects with friends or complete strangers.</p>
   </div>
   <div class="col-md-4">
     <h2>Community-Sourced</h2>
     <p>Blocipedia provides content created and controlled for the users, by the users.</p>
   </div>
 </div>
