
<div class="row">
  <div class="col-md-8">
    <h1>All Wikis</h1>
    <%= link_to "New Wiki", new_wiki_path(@wiki), class: 'btn btn-success' %>
  </div>
</div>

<% @wikis.each do |wiki| %>
  <div class="media">
      <div class="media-body">
        <h4 class="media-heading border-index">
            <p>
              <%= link_to wiki.title, wiki %>
            </p>
              <p class="border-index-body"><small><%= markdown(wiki.body) %></small></p>
        </h4>
      </div>
  </div>
<% end %>
